.widget-container__design{
  margin-left: 20px;
}

.analytics_form .form-group{
  margin:0px !important;
}
.input-group {
  margin-top:16px;
}

.token-field {
    width: 100%;
}

.chart-designer__chart {
    margin-top: 20px;
}

.analytics_form{
  label{
    font-weight: 500;
    margin: 10px 0;
  }
}

.widget__property-container{
  label{
    font-weight: 500;
  }
}


.btn-group{
    box-shadow:none !important;
    i{
      font-size:25px;
    }
    .bar-chart{
      color:#009933;
    }
    .pie-chart{
      color:#ff5c33;
    }
    .line-chart{
      color:#006699;
    }
    .area-chart{
      color:#ff9900;
    }
    .globe{
      color:#b36b00;
    }
}
.dynamic-form__container .form-group .target {
    float:right !important;
    margin-right: 80px;
}
.input-group-addon{
  color:#fff;
  background-color:$theme_color;
  border-color:$theme_color;
}
