.dynamic-form__container {
  .list {
    .form-group-item {
      float: left;
      width: 30%;
    }
  }
  .form-group {
    .target {
      float: left;
    }
    .form-label {
      float: left
    }

  }
}
.next-nav{
  padding-left: 0px;
}