.dynamic-form__list-search {
  background: transparent;
  padding: 0px 20px 0px 0px;
  .panel-box {
    height: 100vh;
    position: fixed;
    width: 20%;
    padding-left: 20px;
  }
  h4 {
    color: $theme_color;
  }
  span {
    font-weight: 500;
  }
  .list-group {
    overflow: auto;
    height: 70vh;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(166, 179, 196, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(166, 179, 196, 0.4);
  }
}

.left-view {
  .input-sm {
    width: 100%;
  }

  .row {
    margin: 2px 0px;
  }

  .list-group-item {
    a {
      text-decoration: none;
      color: $theme_color;
    }
    i {
      color: $theme_color;
      margin-right: 8px;
    }
  }

  .list-group-item-submenu li {
    background: #fff;
    color: #757575;
    a {
      color: #7a7a7a;
      font-weight: 400;
    }
  }

}

.company-info {
  padding: 20px 22px;
}

.view-page {
  .dynamic__form-container {
    margin-top: 40px;
  }
  .dynamic__form-fill {
    background: #fff;
    padding: 40px;
  }
  .dynamic-form__list-search {
    margin: 0px;
    label {
      cursor: pointer;
      padding: 0px 5px;
    }
    .list-group-item-submenu {
      padding-left: 20px;
      li {
        padding: 2px;
      }
      i {
        margin-right: 8px;
      }
    }
  }
  label {
    box-shadow: none;
    font-weight: 500;

  }

  .dynamic__form-fill .form__field .form-bottom .btn {
    background: $theme_color;
    &:hover {
      background: $hover_color;
    }
  }
  .form-title {
    color: #757575;
    margin: 40px 0;
  }
  .form-logo {
    width: 200px;
    margin-top: 30px;
  }

}

.project-info {
  h3 {
    color: $theme_color;
  }
}

.Design {
  .panel-body {
    padding: 0px;
  }
}